<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BlackDesertLogin.Configurations.MysqlS" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BlackDesertLogin.Configurations.NetworkS" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BlackDesertLogin.ServicesConfigs" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <BlackDesertLogin.Configurations.MysqlS>
            <setting name="Host" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>blackemu_ls</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
        </BlackDesertLogin.Configurations.MysqlS>
        <BlackDesertLogin.Configurations.NetworkS>
            <setting name="Ip" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>8888</value>
            </setting>
            <setting name="MaxConnections" serializeAs="String">
                <value>1000</value>
            </setting>
        </BlackDesertLogin.Configurations.NetworkS>
        <BlackDesertLogin.ServicesConfigs>
            <setting name="LauncherService_ip" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="LauncherService_port" serializeAs="String">
                <value>6667</value>
            </setting>
            <setting name="GameServicePort" serializeAs="String">
                <value>6668</value>
            </setting>
            <setting name="GameServiceIp" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
        </BlackDesertLogin.ServicesConfigs>
    </userSettings>
</configuration>